<footer class="mt-3">
    <div class="container ">
        <div class="f-info">
            <div class="f-info-socials">
                <h5>Follow Us</h5>
                <a href="https://www.facebook.com/profile.php?id=100030481789084" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/itz__rajyadav/profilecard/?igsh=MWRiNzlwcTBwMWZkYQ==" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/surendra-yadav-722b85292/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="f-info-brand">
                <h5>About Us</h5>
                <p>&copy; 2024 EasyStay Private Limited. All rights reserved.</p>
                <p> Your trusted partner for room reservations.</p>
            </div>
            <div class="f-info-links">
                <h5>Quick Links</h5>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">FAQs</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="f-bottom">
            <p>Made with <i class="fa-solid fa-heart"></i> by the EasyStay Team</p>
        </div>
    </div>
</footer>
